{
  "locations": [
    {
      "id": "pgp",
      "name": "Prince George's Park Residences",
      "coordinates": {
        "lat": 1.291038,
        "lng": 103.780830
      },
      "imageUrl": "https://www.me.com.sg/resources/ck/images/projects/2002_spaceframe/NUS%20PGP%202.jpg"
    },
    {
      "id": "clb",
      "name": "Central Library",
      "coordinates": {
        "lat": 1.296674,
        "lng": 103.772539
      },
      "imageUrl": "https://images.unsplash.com/photo-1707109462204-d73bbc0a1575"
    },
    {
      "id": "deck",
      "name": "The Deck",
      "coordinates": {
        "lat": 1.294651,
        "lng": 103.772405
      },
      "imageUrl": "https://s3-media0.fl.yelpcdn.com/bphoto/IzFssmPgW_-nf-nTJ99o0g/l.jpg"
    },
    {
      "id": "terrace",
      "name": "The Terrace",
      "coordinates": {
        "lat": 1.294424,
        "lng": 103.774247
      },
      "imageUrl": "https://sgmark.org/wp-content/uploads/winners/5532/file-entry-3.jpg"
    },
    {
      "id": "lt13",
      "name": "LT13",
      "coordinates": {
        "lat": 1.295130,
        "lng": 103.770661
      },
      "imageUrl": "https://chs.nus.edu.sg/wp-content/uploads/2020/12/FASS-Building.png"
    },
    {
      "id": "ea",
      "name": "Engineering Auditorium",
      "coordinates": {
        "lat": 1.300678,
        "lng": 103.770444
      },
      "imageUrl": "https://cde.nus.edu.sg/me/wp-content/uploads/sites/11/2021/10/2016-Faculty-of-Engineering-pic-_1_-1024x684.jpg"
    },
    {
      "id": "biz",
      "name": "Mochtar Riady Building (BIZ1)",
      "coordinates": {
        "lat": 1.292398,
        "lng": 103.774065
      },
      "imageUrl": "https://images.unsplash.com/photo-1707109462458-47cd3ece5cf0"
    },
    {
      "id": "lt27",
      "name": "LT27",
      "coordinates": {
        "lat": 1.297508,
        "lng": 103.780957
      },
      "imageUrl": "https://tse3.mm.bing.net/th/id/OIP.h5wGeRs9H1MWtlnmt1ekyAHaEK"
    },
    {
      "id": "uhc",
      "name": "University Health Centre",
      "coordinates": {
        "lat": 1.298911,
        "lng": 103.776274
      },
      "imageUrl": "https://sws.comp.nus.edu.sg/images/uhc-1.jpg"
    },
    {
      "id": "yih",
      "name": "Yusof Ishak House",
      "coordinates": {
        "lat": 1.298982,
        "lng": 103.775072
      },
      "imageUrl": "https://osa.nus.edu.sg/wp-content/uploads/2025/09/NUS_Yusof_Ishak_House_Finbarr_Fallon_03-scaled.jpg"
    },
    {
      "id": "utownaudi2",
      "name": "UTown Auditorium 2",
      "coordinates": {
        "lat": 1.304312,
        "lng": 103.772540
      },
      "imageUrl": "https://images.unsplash.com/photo-1650215246980-a8b177cf541c"
    },
    {
      "id": "utowngreen",
      "name": "UTown Green",
      "coordinates": {
        "lat": 1.305236,
        "lng": 103.773499
      },
      "imageUrl": "https://images.unsplash.com/photo-1637224320210-98b6d8790b45"
    },
    {
      "id": "tembusu",
      "name": "Tembusu College",
      "coordinates": {
        "lat": 1.306126,
        "lng": 103.773963
      },
      "imageUrl": "https://nus.edu.sg/images/default-source/corporate/admissions/tembusu.jpg"
    },
    {
      "id": "sbucksutown",
      "name": "Starbucks at UTown",
      "coordinates": {
        "lat": 1.305514,
        "lng": 103.773188
      },
      "imageUrl": "https://laptopfriendly.co/images/places/singapore/starbucks-university-town/starbucks-8-college-ave-west--other.jpg"
    },
    {
      "id": "mpsh",
      "name": "Multi-Purpose Sports Hall",
      "coordinates": {
        "lat": 1.300652,
        "lng": 103.775791
      },
      "imageUrl": "https://www.streetdirectory.com/stock_images/travel/simg_show/12837553330113/247552/multi_purpose_sports_hall_mpsh1__sports__recreation_centre_national_university_of_singapore_nus"
    },
    {
      "id": "music",
      "name": "Yong Siew Toh Conservatory of Music",
      "coordinates": {
        "lat": 1.301745,
        "lng": 103.773038
      },
      "imageUrl": "https://www.marinabaysands.com/content/dam/revamp/ASMrevamp/playing-the-exhibition-yst/YST-566x346.jpg"
    },
    {
      "id": "sde",
      "name": "SDE4",
      "coordinates": {
        "lat": 1.297382,
        "lng": 103.770168
      },
      "imageUrl": "https://tse1.mm.bing.net/th/id/OIP.ESOy-w1oTzcl19oZm4KyBgHaF7"
    }
  ]
}